@use "../../index.scss";

.add-post-mentions {
    h5.section-title {
        margin-bottom: 8px;
    }
    div.mentions-container {
        @extend .border-light-gray;
        border-radius: 5px;
        .mention {
            @extend .background-light-gray;
            @extend .border-gold;
            padding: 2px 2px 2px 8px;
            margin: 4px;
            border-radius: 6px;
            display: inline-block;
            span.mention-text {
                @extend .text-dark;
                font-size: 14px;
                font-weight: 400;
            }
            button.mention-remove {
                border: none;
                background-color: inherit;
                margin-left: 10px;
                svg.close-icon {
                    transform: scale(0.5);
                    vertical-align: top;
                }
            }
        }
    }
    margin-bottom: 24px;
}
