// GENERIC

body {
    margin: 0;
    background-color: #fbfbfb;
}

* {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
}

.border-gold {
    border: 1px solid #a8996f;
}

.border-light-gray {
    border: 1px solid #eeeeee;
}

.text-dark {
    color: #333333;
}

.text-gray {
    color: #707070;
}

.text-dark-gray {
    color: #616161;
}

.text-gold {
    color: #a8996f;
}

.text-error {
    color: #e53935;
}

.background-light-gray {
    background-color: #eeeeee;
}

.background-white {
    background-color: white;
}

.background-dark-purple {
    background-color: #96459a;
}

.background-purple {
    background-color: #96459a;
}

.background-gold {
    background-color: #a8996f;
}

.paint-dark-purple {
    fill: #78107e;
}

.paint-gold {
    fill: #a8996f;
}

.paint-light-gray {
    fill: #eeeeee;
}

.paint-red {
    fill: #e53935;
}

.section-title {
    @extend .text-dark-gray;
    font-size: 14px;
    font-weight: 600;
}
